.contact-section {
  padding: 20px;
  background: linear-gradient(
    180deg,
    #020617 0%,
    #0b132b 100%
  );
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  padding: 55px 24px;
}

.contact-title {
  font-size: 2.8rem;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

.contact-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #f97316;
  margin-top: 12px;
  border-radius: 2px;
}

.contact-subtitle {
  color: #cbd5e1;
  max-width: 600px;
  margin-bottom: 20px;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}
.contact-info{
    padding: 20px;
}
/* LEFT INFO */
.contact-info p {
  color: #e5e7eb;
  margin-bottom: 20px;
  line-height: 1.6;
}

.contact-info a {
  color: #60a5fa;
  text-decoration: none;
}

.contact-socials {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.contact-socials a {
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 16px;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}

/* FORM */
.contact-form {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 14px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 0.95rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #94a3b8;
}

.contact-form button {
  background: #f97316;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
